@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --color1: #490B3D;
    --color2: #F1B814;
    --color3: #ffffff;
}


body {
    background-color: var(--color1);
    color: var(--color3);
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
}

.wrapper {
    max-width: 500px;
    padding-left: 2rem;
    margin: 0 auto;
}

p {
    font-size: large;
}

.userInp {
    margin-bottom: 1rem;
}

label {
    display: block;
    padding: 0.5rem;
    font-weight: bold;
}

label,
input {
    font-size: 1.1rem;
}

input {
    padding: 0.5rem;
    width: 300px;
}

#btn-tell {
    padding: 1rem;
    margin: 2rem auto;
    width: 150px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--color2);
    color: var(--color1);
}

#displayOutput {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}